body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-image: url(preview.jpg);
    background-color: rgba(255, 255, 255, 0.908);
    background-blend-mode: lighten;
}

h1 {
    color: #000000;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ff8787;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 1, 1, 0.642);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="submit"],
input[type="reset"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}


input[type="reset"] {
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    opacity: 0.8;
}
