body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-image: url(preview.jpg);
    background-color: rgba(255, 255, 255, 0.908);
    background-blend-mode: lighten;
}

h1 {
    color: #ff8717;
}

h3 {
    color: #ff1e1e;
}

form {
    background-color: #b6fda2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="submit"],
input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"],
input[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #45a049;
}
